python-dateutil==2.7.5
faker
flask
pytest
pylint
-e git+https://gitlab.com/pycqa/flake8#egg=flake8
gunicorn
flask_pymongo
pymongo==3.4
requests>=2.20.0
passlib[totp]
python-coveralls
coverage
pytest-cov
flask-cors==3.0.6
haversine
freezegun==0.3.11
requests-mock==1.5.2
bcrypt
pyjwt
itsdangerous
